[submodule "databases/newton_agritech_tractor_image_databases"]
	path = databases/newton
	url = ../newton_agritech_tractor_image_databases
[submodule "databases/bottom_of_campus"]
	path = databases/bottom_of_campus
	url = ../bottom_of_campus
