[submodule "datasets/ant_world"]
	path = datasets/ant_world
	url = ../ant_world_image_databases
[submodule "datasets/bottom_of_campus"]
	path = datasets/bottom_of_campus
	url = ../bottom_of_campus
[submodule "datasets/newton"]
	path = datasets/newton
	url = ../newton_agritech_tractor_image_databases
[submodule "datasets/rc_car"]
	path = datasets/rc_car
	url = ../rc_car_image_databases
